<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Primary Meta Tags -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="title" content="Library of Games">
<meta name="author" content="TVTC">
<meta name="description" content="Nonprofit Organization">
<link rel="canonical" href="https://live.staticflickr.com/65535/51414464372_f66fa8dea4_b.jpg">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://libraryofgames.org">
<meta property="og:title" content="Library of Games">
<meta property="og:description" content="Nonprofit Organization">
<meta property="og:image" content="https://live.staticflickr.com/65535/51414464372_f66fa8dea4_b.jpg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://libraryofgames.org">
<meta property="twitter:title" content="Library of Games">
<meta property="twitter:description" content="Nonprofit Organization">
<meta property="twitter:image" content="https://live.staticflickr.com/65535/51414464372_f66fa8dea4_b.jpg">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bootstrap-5.1.0/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Google Font-->
  <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,600;0,700;1,600;1,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital@0;1&family=Indie+Flower&display=swap" rel="stylesheet">
  <!--  CSS -->
  <link href="static/css/style.css" rel="stylesheet">
    <title>
      {% block title %}Library of Games {% endblock %}
    </title>
  </head>
  <body>
    {% include 'navigation.html' %}

    {% block content %}{% endblock content %}


    {% include 'footer.html' %}
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="{{url_for('static', filename='bootstrap-5.1.0/js/bootstrap.bundle.js')}}"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
  </body>
</html>