<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


<title>
    {% block title %}Library of Games {% endblock %}
</title>

<!-- Primary Meta Tags -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="title" content="Library of Games">
<meta name="author" content="TVTC">
<meta name="description" content="Nonprofit Organization">
<link rel="canonical" href="https://live.staticflickr.com/65535/51414464372_f66fa8dea4_b.jpg">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://libraryofgames.org">
<meta property="og:title" content="Library of Games">
<meta property="og:description" content="Nonprofit Organization">
<meta property="og:image" content="https://live.staticflickr.com/65535/51414464372_f66fa8dea4_b.jpg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://libraryofgames.org">
<meta property="twitter:title" content="Library of Games">
<meta property="twitter:description" content="Nonprofit Organization">
<meta property="twitter:image" content="https://live.staticflickr.com/65535/51414464372_f66fa8dea4_b.jpg">

<!-- Favicon -->


<!-- Fontawesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Google Font-->
<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,600;0,700;1,600;1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital@0;1&family=Indie+Flower&display=swap" rel="stylesheet">
<!--  CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link href="static/css/style.css" rel="stylesheet">
<!-- Magnific Popup core CSS file -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css">
</head>
<body>

{% include 'navigation.html' %}

{% block content %}{% endblock content %}


{% include 'footer.html' %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<!-- Magnific Popup core JS file -->
<script src="https://cdn.jsdelivr.net/npm/medium-zoom/dist/medium-zoom.min.js"></script>
<script src="static/js/myscripts.js"></script>
</body>
</html>