{% extends 'base.html' %}

{% block title %}Books Library{% endblock %}

{% block content %}

<div class="container mt-5">
  <h1 class="text-center">Book Library</h1>
  {% if not books %}
  <h3 class="text-center">Library is empty</h3>
  {% endif %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Book</th>
      <th scope="col">Author</th>
      <th scope="col">Ratting</th>
      <th scope="col">Download</th>
    </tr>
  </thead>
  <tbody>
  {% for book in books %}

    <tr>
      <th scope="row">{{book[0]}}</th>
      <td>{{book[1]}}</td>
      <td>{{book[2]}}</td>
      <td><a href="{{book[3]}}" download="{{book[4]}}"><img src="{{book[3]}}">Download Here</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}