{% extends 'base.html' %}


{% block title %}Games Library{% endblock %}

{% block content %}
<div class="container  mt-5 ">
    <h1 class="text-center">Vietnamese Folk Game</h1>
    <div class="d-flex flex-wrap gap-3 justify-content-evenly mt-5">
    {% for i in range(num) %}
        <div class="card" style="width: 18rem;">
  <img src="static/images/{{games[i][1]}}" class="card-img-top zoom" alt="...">
  <div class="card-body">
    <h3 class="card-text text-center">{{games[i][0]}}</h3>
  </div>
</div>
    {% endfor %}

    </div>
</div>
{% endblock %}